.task-card {
  border-radius: var(--border-radius);
  border: 2px solid var(--gray-200);
  padding: 10px;
  margin: 5px 0;
  background-color: var(--white);
}

.task-card p:not(.task-card-text) {
  font-size: 13px;
  margin: 3px;
}

.header-card-container {
  display: flex;
  justify-content: space-between;
}

.header-card-container > button {
  display: flex;
  height: 20px;
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--red);
  color: var(--white);
  user-select: none;
}

.header-card-container > button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.state-priority-container {
  display: flex;
}

.state-priority-container > *:last-child {
  margin-left: 10px;
}

.new,
.in-progress,
.finished,
.low,
.medium,
.high {
  padding: 1px 4px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--white);
  user-select: none;
}

.new,
.high {
  background-color: var(--orange);
}

.in-progress,
.medium {
  background-color: var(--yellow);
  /* color: var(--black); */
}

.finished {
  background-color: var(--green);
}

.low {
  background-color: var(--blue);
}
