.task-card {
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-200);
  padding: 10px;
  margin: 5px 0;
  background-color: var(--gray);
}

.task-card p {
  /* font-size: var(--font-size); */
  font-size: 13px;
}

.header-card-container {
  display: flex;
  justify-content: space-between;
}

.header-card-container > button {
  display: flex;
  border-radius: 50%;
  border: none;
  background-color: var(--orange);
  color: var(--white);
  user-select: none;
}

.header-card-container > button:hover {
  cursor: pointer;
  background-color: var(--gray-200);
  color: var(--black);
  transition: background-color 0.4s;
}

.state-priority-container {
  display: flex;
}

.state-priority-container > *:last-child {
  margin-left: 10px;
}

.new,
.in-progress,
.finished,
.low,
.medium,
.high {
  padding: 1px 4px;
  border-radius: 5px;
  font-weight: bold;
  color: var(--white);
  user-select: none;
}

.new,
.high {
  background-color: var(--orange);
}

.in-progress,
.medium {
  background-color: var(--yellow);
  color: black;
}

.finished {
  background-color: var(--green);
}

.low {
  background-color: var(--blue);
}

.see-more {
  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: var(--border-radius);
  color: var(--white);
  padding: 2px 4px;
  margin-top: 5px;
  display: none;
}

.see-more:hover {
  cursor: pointer;
  background-color: var(--gray);
  color: var(--orange);
  transition: background-color 0.4s;
}

.active {
  display: inline-block;
}
